html{
	width: 800px;
	margin: 0px auto;
	
	font-family: Arial;
	font-size: 13px;
}

#heading{

	width: 100%;
	height: auto;

	background: #c10f15;
	color: #fff;


}

.padding-10{
		padding: 10px;
		color: #fff;
}


span{
	float: right;
}

ul.contact{
	width: 100%;
	padding-left: 10px;
}

ul.contact li{
	list-style: none;
	float: right;
	padding-right: 30px;
	height: 16px;
	font-size: 11px;
}

tabel tr td{
	padding: 10px;	
}

ul.contact2{
	width: 100%;
}

ul.contact2 li{
	list-style: none;
	float: left;
	padding-right: 50px;
	height: 16px;
	font-size: 11px;
	text-align: center
}

.panel{
	color:red;
}